mixin news-section()
  -
    const props = initComponent('news-section', attributes, []);

  .news-section&attributes(attributes)
    .news-section__wrapper
      .content-container
        figure.news-section__img
          img(src="assets/img/cards/card-1.png" alt="Картинка новости")
          
      .content-container.content-container--medium
        .news-section__blocks
          .news-section__block
            p.text-big.text-500 Виртуальная реальность, цифровой аватар, IT-волонтерство: очередной День открытых дверей IT-колледжа прошел в ВВГУ.  Школьников и их родителей снова погрузили в атмосферу IThub Владивосток, рассказали о преимуществах обучения в первом на Дальнем Востоке международном колледже информационных технологий и представили реализуемые образовательные программы.
            p В этом году колледж ведет набор на  #[a(href="#") четыре направления подготовки:] «Веб- и мультимедийная разработка», «Программирование», «Финансовые технологии» и «Цифровые коммуникации». Обучение осуществляется на базе 9 и 11 классов.
          article.news-section__block
            h2.news-section__block-title Заголовок второго уровня
            p Это учебная программа, которая включает получение необходимых теоретических знаний и практических навыков в области педагогики. Обучаясь на педагога, вы научитесь общаться с разными детьми и их родителями, изучите особенности детской психологии, физиологии, выработаете собственные методы обучения.
            p Кроме того научитесь внедрять в образовательный процесс современные технологии и сможете дать хорошее образование своим детям. В зависимости от полученной специальности и квалификации, с педагогическим образованием можно работать воспитателем, учителем начальных классов, учителем-предметником, социальным педагогом, педагогом дополнительного образования.
            p Специалист по внеучебной деятельности колледжа, продюсер летнего лагеря Лианна Мурадян рассказала, что за 10 дней ребята узнают обо всех тонкостях обучения и почувствуют себя настоящими студентами колледжа еще до поступления в него.
            p Лагерь будет работать с 3 по 14 июля. В программе: мастер-классы, встреча с психологом, профориентационная работа, прокачка мягких навыков. Подробности о смене можно #[a(href="#") узнать на сайте.]
          .news-section__blocks.news-section__blocks--small-gap
            article.news-section__block
              h2.news-section__block-title Заголовок второго уровня
              p Как рассказала директор IT-колледжа ВВГУ Юлия Кравченко, все учебные планы формируются при участии бизнес-партнеров. Поэтому после выпуска из колледжа ребята будут обладать самыми свежими и необходимыми для работы знаниями. Чтобы образование всегда оставалось актуальным, программа пересматривается каждый год.
              p Кроме информационного блока на Дне открытых дверей гостей ждали развлекательные станции. Вместе с представителями студенческого объединения по разработке видеоигр «LuckStudio» ребята могли придумать сюжет собственной компьютерной игры, а клуб по разработке интеллектуальных игр «BrainHub» предложил гостям поиграть в разнообразные настолки. Также любой желающий мог сфотографироваться и разработать собственный цифровой аватар.
              figure.news-section__block-img
                img(src="assets/img/cards/card-3.png" alt="Картинка новости")
              p Специалист по внеучебной деятельности колледжа, продюсер летнего лагеря Лианна Мурадян рассказала, что за 10 дней ребята узнают обо всех тонкостях обучения и почувствуют себя настоящими студентами колледжа еще до поступления в него.
              p Лагерь будет работать с 3 по 14 июля. В программе: мастер-классы, встреча с психологом, профориентационная работа, прокачка мягких навыков. Подробности о смене можно #[a(href="#") узнать на сайте.]
            article.news-section__block
              h3.news-section__block-title Заголовок третьего уровня
              p.text-tight Наши студенты изучают много дисциплин за 4 года обучения. Предлагаем ознакомиться с некоторыми из них в списке ниже:
              ol 
                li История России
                li Речевые практики
                li Возрастная анатомия, физиология и культура здоровья
                li Физическая культура и спорт
              p Как рассказала директор IT-колледжа ВВГУ Юлия Кравченко, все учебные планы формируются при участии бизнес-партнеров. Поэтому после выпуска из колледжа ребята будут обладать самыми свежими и необходимыми для работы знаниями. Чтобы образование всегда оставалось актуальным, программа пересматривается каждый год.
            article.news-section__block
              h3.news-section__block-title Заголовок третьего уровня
              p Как рассказала директор IT-колледжа ВВГУ Юлия Кравченко, все учебные планы формируются при участии бизнес-партнеров. Поэтому после выпуска из колледжа ребята будут обладать самыми свежими и необходимыми для работы знаниями. Чтобы образование всегда оставалось актуальным, программа пересматривается каждый год.
              figure.news-section__block-img
                img(src="assets/img/cards/card-2.png" alt="Картинка новости")
                figcaption.news-section__block-img-caption Подпись к фото в одну строку
              p Как рассказала директор IT-колледжа ВВГУ Юлия Кравченко, все учебные планы формируются при участии бизнес-партнеров. Поэтому после выпуска из колледжа ребята будут обладать самыми свежими и необходимыми для работы знаниями. Чтобы образование всегда оставалось актуальным, программа пересматривается каждый год.
          article.news-section__block
            h2.news-section__block-title Заголовок второго уровня
            p Это учебная программа, которая включает получение необходимых теоретических знаний и практических навыков в области педагогики. Обучаясь на педагога, вы научитесь общаться с разными детьми и их родителями, изучите особенности детской психологии, физиологии, выработаете собственные методы обучения.
            p Кроме того научитесь внедрять в образовательный процесс современные технологии и сможете дать хорошее образование своим детям. В зависимости от полученной специальности и квалификации, с педагогическим образованием можно работать воспитателем, учителем начальных классов, учителем-предметником, социальным педагогом, педагогом дополнительного образования.
            p Специалист по внеучебной деятельности колледжа, продюсер летнего лагеря Лианна Мурадян рассказала, что за 10 дней ребята узнают обо всех тонкостях обучения и почувствуют себя настоящими студентами колледжа еще до поступления в него.
            p Лагерь будет работать с 3 по 14 июля. В программе: мастер-классы, встреча с психологом, профориентационная работа, прокачка мягких навыков. Подробности о смене можно #[a(href="#") узнать на сайте.]
