.graphs
  position relative

  &__box
    display grid
    gap 20px
    margin 0 auto
    +above(95em)
      grid-template-columns repeat(auto-fit, minmax(0, 1fr))
      align-items flex-end

  &__caption
    display block
    margin-bottom 20px
    color var(--color-grey-60)
    +above(95em)
      position absolute
      top 0
      left 0
      margin-bottom 0
