include ../faq/faq
include ../section-heading/section-heading

mixin faq-section()
  -
    const props = initComponent('faq-section', attributes, []);

    const faqItems = [
      {
        question: "Не&nbsp;противоречит&nbsp;ли создание&nbsp;ЦО законам&nbsp;РФ?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Возможно&nbsp;ли, что, когда позволят технологии, созданный&nbsp;ЦО будет существовать одновременно с&nbsp;реальным человеком? Не&nbsp;возникнет&nbsp;ли конфликта по&nbsp;типу раздвоения личности?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Когда параллельная жизнь станет возможной, не&nbsp;сможет&nbsp;ли ЦО&nbsp;влиять на&nbsp;свой реальный &laquo;прототип&raquo;?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Что, если мой&nbsp;ЦО попадет в&nbsp;чужие руки? Сможет&nbsp;ли враждебный цифровик изменить его, чтобы скомпрометировать меня?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Можно&nbsp;ли при создании своего&nbsp;ЦО попытаться улучшить новую версию?", 
        answer: "<p>Да, это возможно в&nbsp;режиме &laquo;Услуга&raquo;. При этом внося корректировки в&nbsp;свое нынешнее сознание стоит учитывать, что это может в&nbsp;целом повлиять на&nbsp;формирование именно Вашей самости. Тем не&nbsp;менее мы&nbsp;готовы оказать Вам помощь в&nbsp;том, чтобы такие &laquo;корректировки&raquo; оказали минимальное влияние на&nbsp;полноту именно Вашего&nbsp;ЦО.</p>",
      },
      {
        question: "ЦО&nbsp;сможет самостоятельно осуществлять процессы мышления, воображения, творческие процессы?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Будет&nbsp;ли ЦО&nbsp;выглядеть как реальный человек с&nbsp;той&nbsp;же степенью обаяния или непривлекательности, как оригинальная личность?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "ЦО&nbsp;будет представлять только набор информации или в&nbsp;структуре&nbsp;ЦС будут и&nbsp;все физиологические чувства, ощущения, душевные переживания, эмоции, интуитивное мироощущение?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Вы&nbsp;предлагаете один из&nbsp;вариантов хранения информации в&nbsp;виде книги. А&nbsp;как в&nbsp;ней будет зашифрована информация? Не&nbsp;превратится&nbsp;ли современный способ записи в&nbsp;мертвый язык еще до&nbsp;того, как смогут оживлять сознание?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Если возродиться парой с&nbsp;любимым человеком, какова вероятность, что мы&nbsp;будем испытывать те&nbsp;же чувства по&nbsp;отношению друг к&nbsp;другу, ведь мы&nbsp;можем нечаянно не&nbsp;совпасть при ответах на&nbsp;вопросы в&nbsp;результате стать чужими людьми?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Как мне хранить свой завершенный&nbsp;ЦО?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
      {
        question: "Какова гарантия того, что в&nbsp;ЦО буду именно&nbsp;Я?", 
        answer: "<p>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Собрал, lorem! Рукопись вопрос это предупреждал языком коварных великий залетают, решила домах раз щеке пор даже но, своих, несколько взобравшись!</p>",
      },
    ]

  section.faq-section#faq-section&attributes(attributes)
    .content-container
      .faq-section__box
        +section-heading(mod="" title!="Часто задаваемые вопросы" text!="После самой короткой анкеты в&nbsp;вашей жизни, вам нужно будет выбрать режим для формирования вашего цифрового образа")
        +faq(items=faqItems).faq-section__faq
