.news-page
  position relative
  z-index 1
  --gap rem(120px)
  display flex
  flex-direction column
  gap var(--gap)
  padding-top var(--gap)
  padding-bottom var(--gap)
  +desktop()
    --gap rem(200px)

  &__heading
    margin-bottom rem(40px)
    +desktop()
      margin-bottom rem(56px)

  &__double
    --columns 1
    display grid
    grid-template-columns repeat(var(--columns), minmax(0, 1fr))
    gap rem(24px) rem(40px)
    +desktop()
      --columns 2
      align-items start
