include ../section-heading/section-heading
include ../icon/icon

mixin manual()
  -
    const props = initComponent('manual', attributes, ['cards']);

    const cards = [
      { img: 'assets/img/cards/card-7.png', title: 'Начало работы', text: 'Для начала работы необходимо зарегистрироваться в личном кабинете. Для формирования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.'  },
      { img: 'assets/img/cards/card-7.png', title: 'Начало работы 2', text: 'Для начала работы необходимо зарегистрироваться в личном кабинете. Для формирования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших прормирования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших прормирования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.'  },
      { id: 'pinLast', img: 'assets/img/cards/card-7.png', title: 'Начало работы 3', text: 'Для начала работы необходимо зарегистрироваться в личном кабинете. Для формирования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.я каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.я каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.ования цифрового образа от вас не потребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших продуктов требует только хорошего знания самого себя.ребуется каких-то особых знаний или навыков. Поэтапное заполнение наших себя.'  },
    ]
    props.cards = props.cards || cards;

  .manual&attributes(attributes)
    .content-container 
      .manual__box
        +section-heading(mod="" title!="Как создать <br> свой цифровой образ?")
        .manual__cards 
          - if (Array.isArray(props.cards))
            each card in props.cards
              .manual__card(id=card.id)
                .manual__card-left 
                  .manual__card-heading
                    span.manual__card-heading-icon 
                      +icon('user4')
                    span.manual__card-heading-count 
                  .manual__card-content
                    h4.manual__card-title!= card.title
                    p.manual__card-text!= card.text
                .manual__card-img
                  img(src=card.img alt="")
        .manual__visual-bg
          img(src="assets/img/infinity-3.png" alt="")
