include ./popup

mixin popup--error()
  +popup(id="popup-error" mod="error middle")&attributes(attributes)
    .popup__error
      .popup__error-main
        .popup__error-title Что-то пошло не так...
        button(type="button" aria-label="Закрыть" data-popup-close="").popup__btn-close
      .popup__error-content(data-lenis-prevent)
        p К сожалению, нам не удалось отправить ваш запрос. Проверьте соединение с интернетом и обновите страницу, либо попробуйте отправить форму позже.
    