include ./popup

mixin popup--product()
  +popup(id="popup-product" mod="product")&attributes(attributes)
    .popup__product
      .popup__heading 
        .popup__heading-img 
          img(src="assets/img/cards/card-2.png" alt="")
        .popup__heading-content
          .popup__heading-chapter Глава 2
          .popup__heading-title Книга памяти
        button(type="button" aria-label="Закрыть" data-popup-close="").popup__btn-close
      .popup__text(data-lenis-prevent) 
        p Третья глава Вашего цифрового образа в&nbsp;проекте &laquo;Третьей жизни&raquo;&nbsp;&mdash; самая долгая. Она&nbsp;же&nbsp;&mdash; самая интенсивная; и&nbsp;возможно самая трудная. Но&nbsp;исполнить её&nbsp;обязательно нужно. Поскольку это&nbsp;&mdash; книга Вашей памяти. Памяти о&nbsp;себе; о&nbsp;фактах Вашей жизни; об&nbsp;оценках и&nbsp;ощущениях, которые стали Вашим жизненным опытом; о&nbsp;Ваших ключевых предпочтениях, которые и&nbsp;делают Вас уникальной личностью. Возможно&nbsp;&mdash; с&nbsp;кем-то сравнимой; или даже кому-то подобной. Но&nbsp;самостоятельной единицей того, что по-умному называют социосферой.
        p Технически&nbsp;&mdash; Ваша &laquo;Книга памяти&raquo;&nbsp;&mdash; это просто очень много открытых вопросов. Таких, ответы на&nbsp;которые&nbsp;&mdash; не&nbsp;просто &laquo;да&raquo; или &laquo;нет&raquo;. Тех, которые приведут Вас к&nbsp;необходимости вспомнить, подумать и&nbsp;суметь сформулировать. Последнее&nbsp;&mdash; не&nbsp;менее важное, чем первое или второе. Если объём любого ответа, написанный произвольно, естественным языком, превысит 2&nbsp;тыс. знаков, система примет его, но&nbsp;обратит на&nbsp;это Ваше внимание. Впрочем, если&nbsp;Вы не&nbsp;расположены к&nbsp;письму, или обстоятельства Вам этого почему-то не&nbsp;позволяют, система предоставит Вам услугу звукового ответа. Который, после распознавания и&nbsp;семантического анализа (возможно, и&nbsp;редактуры), будет возвращён Вам для корректировки или акцепта.
        p Структурно &laquo;Книга Памяти&raquo; состоит из&nbsp;трёх разделов. Вопросов-&laquo;единичек&raquo;, ответ на&nbsp;которые больше напоминает короткий рассказ. &laquo;Двоек&raquo;, в&nbsp;которых Вам предстоит выбрать что-то из&nbsp;пары, и&nbsp;пояснить свой выбор. А&nbsp;системных &laquo;троек&raquo;, ответы на&nbsp;которые, собственно, ближе всего к&nbsp;воспоминаниям. Если рисовать картину Вашей третьей главы совсем крупным мазком, то&nbsp;такие живописные действия и&nbsp;зафиксируют Ваш актуальный образ. И&nbsp;создадут своего рода&nbsp;&mdash; Ваш цифровой автопортрет.

mixin popup--product-banner()
  +popup(id="popup-product-banner" mod="product")&attributes(attributes)
    .popup__product
      .popup__heading
        .popup__heading-content
          .popup__heading-title Научное обоснование
        button(type="button" aria-label="Закрыть" data-popup-close="").popup__btn-close
      .popup__text(data-lenis-prevent) 
        p В основе технологии «Вечности» лежат в прямом смысле вечные технологии. На протяжении прошедших лет наша группа единомышленников усиленно работала в поисках ответов на извечные и хорошо известные вопросы, касающиеся сознания, поведения, навыков, социальных взаимодействий человека. Цифровой профиль состоит из пяти частей, которые полностью описывают вас во всех аспектах вашей жизни. Использованные для этого подходы и технологии имеют научно-фундаментальное и научно-практическое обоснование, на некоторые наши открытия поданы заявки на получение патентов.
        p Это был сложный период длиной более десяти лет. Для поиска лучших решений были исследованы различные подходы, испробованы вариации алгоритмов, работа которых и выходные данные были апробированы       на репрезентативных выборках. Результаты опубликованы в более чем 100 печатных научных работах, которые выходили в научных журналах или печатались в формате монографий или аналитических отчетов. Особое внимание в нашей работе мы уделяли качеству исходных данных — важнейших определяющих успеха в целом. Требовалось исследовать различные вопросы, связанные с жизнью человека и общества. Речь идет       о том, чтобы обеспечить переход от теоретических положений к практическим решениям, проверить все и обосновать. И нам это удалось. Только за прошедшие два года охват аудитории превысил 50 млн человек, а совокупное число участников исследовательских проектов превысило 253 тыс. человек. Тут мы говорим о своих исследованиях, помимо которых, конечно же, были использованы открытые статистические данные министерств и ведомств, опубликованные результаты исследований ученых со всего мира и многое другое.
        p Оглядываясь назад, наша команда может с гордостью констатировать,
        p что никто в мире еще не достиг подобных результатов, и с этого момента они доступны вам.
