@font-face
  font-weight 400
  font-family "AcariSans"
  font-style normal
  src url("../fonts/AcariSans-Regular.ttf") format("truetype")
  font-display swap

@font-face
  font-weight 500
  font-family "AcariSans"
  font-style normal
  src url("../fonts/AcariSans-Medium.ttf") format("truetype")
  font-display swap


@font-face
  font-weight 600
  font-family "AcariSans"
  font-style normal
  src url("../fonts/AcariSans-SemiBold.ttf") format("truetype")
  font-display swap
