// text styles

text-base()
  color var(--text-color)
  font-weight 400
  font-size rem(14px)
  font-family $font-family
  line-height 1.5
  +above(64em)
    font-size rem(16px)
    line-height 1.4

text-small()
  color var(--text-color)
  font-weight 400
  font-size rem(14px)
  font-family $font-family
  line-height 1.5
  +above(64em)
    font-size rem(16px)
    line-height 1.6

text-extra-small()
  color var(--text-color)
  font-weight 400
  font-size rem(12px)
  font-family $font-family
  line-height 1.6
  +above(64em)
    font-size rem(14px)
    line-height 1.7

text-caption()
  color var(--text-color)
  font-weight 500
  font-size rem(12px)
  font-family $font-family
  line-height 1.7
