$font-family                    = "AcariSans", sans-serif

$desktop                        = 64em

:root
  --font-family                   $font-family

  // Colors
  --bg-dark-color               #202124

  --card-color                  #3c3e43
  --card-hover-color            #404349

  --color-white                 #fff
  --primary-color               #d03e9d
  --primary-light-color         #df47aa
  --primary-dark-color          #b02b82

  --border-color                rgba(255, 255, 255, .2)

  --text-color                    var(--color-white)
  --text-blind-color            rgba(255, 255, 255, .6)
  --text-contrast-color         #202124

  --error-color                 #ff7d74

  --color-link                   inherit
  --color-hover                  inherit

  --error-color                 #f45725

  --color-focus-shadow            rgba(13,110,253,.25)
  --box-shadow-0                  0 8px 20px 1px rgba(0, 41, 102, .01), 0 8px 12px 0 rgba(0, 26, 64, .01), 0 6px 4px 0 rgba(0, 26, 64, .01)
  --box-shadow-1                  0 12px 40px 2px rgba(0, 41, 102, .02), 0 10px 20px 0 rgba(0, 26, 64, .02), 0 6px 4px 0 rgba(0, 26, 64, .01)
  --box-shadow                    0 15px 20px 0 rgba(25, 55, 143, .05)
  --box-shadow-darker               0 20px 40px 0 rgba(25, 55, 143, .2)


