// Normalize.css
@import "normalize.css/normalize.css"

// Helpers and Common styles
@import "./styles/variables.styl"
@import "./styles/fonts.styl"
@import "./styles/mixins.styl"
@import "./styles/fixes.styl"
@import "./styles/helpers.styl"
@import "./styles/styles.styl"
@import "./styles/global.styl"
@import "./styles/typography.styl"
@import "./styles/print.styl"

// Plugins (external plugins/libs)
@import "./plugins/swiper/swiper.styl"
@import "./plugins/smooth-scrollbar/smooth-scrollbar.styl"
@import "./plugins/gsap-animate/gsap-animate.styl"

// -----------------------
// Components (BEM-blocks)
// -----------------------

// simple base components
@import "./components/bootstrap-grid/index.styl"
@import "./components/animations/animations.styl"
@import "./components/collapse/collapse.styl"
@import "./components/tabs/tabs.styl"
@import "./components/icon/icon.styl"
@import "./components/button/button.styl"
@import "./components/logo/logo.styl"
@import "./components/menu-btn/menu-btn.styl"

// Forms
@import "./components/input/input.styl"
@import "./components/textarea/textarea.styl"
@import "./components/checkbox/checkbox.styl"
@import "./components/radio/radio.styl"
@import "./components/select/select.styl"
@import "./components/custom-select/custom-select.styl"
@import "./components/inputbox/inputbox.styl"
@import "./components/field/field.styl"
@import "./components/validator/validator.styl"
@import "./components/form/form.styl"

// items/cards/lists/misc
@import "./components/carousel/carousel.styl"
@import "./components/faq/faq.styl"
@import "./components/media-card/media-card.styl"
@import "./components/video-thumbnail/video-thumbnail.styl"
@import "./components/video-player/video-player.styl"

// sections
@import "./components/popup/popup.styl"
@import "./components/header/header.styl"
@import "./components/footer/footer.styl"
@import "./components/section/section.styl"
@import "./components/faq-section/faq-section.styl"
@import "./components/video-popup/video-popup.styl"

// articles
@import "./components/ui/ui.styl"
@import "./components/demo/demo.styl"
@import "./components/page/page.styl"
@import "./components/home-page/home-page.styl"
@import "./components/collapse-item/collapse-item.styl"
@import "./components/about/about.styl"
@import "./components/breadcrumbs/breadcrumbs.styl"
// ----
@import "./components/persons/persons.styl"
@import "./components/person-card/person-card.styl"
@import "./components/graphs/graphs.styl"
@import "./components/graphs-item/graphs-item.styl"
@import "./components/face-canvas/face-canvas.styl"
@import "./components/fixed-nav/fixed-nav.styl"
@import "./components/link-item/link-item.styl"
@import "./components/section-heading/section-heading.styl"
@import "./components/tariffs/tariffs.styl"
@import "./components/tariffs-card/tariffs-card.styl"
@import "./components/intro/intro.styl"
@import "./components/media/media.styl"
@import "./components/products/products.styl"
@import "./components/product-card/product-card.styl"
@import "./components/three-bg/three-bg.styl"
@import "./components/ambassadors/ambassadors.styl"
@import "./components/ambassadors-card/ambassadors-card.styl"
@import "./components/manual/manual.styl"
@import "./components/media-page/media-page.styl"
@import "./components/faq-page/faq-page.styl"
@import "./components/news-page/news-page.styl"
@import "./components/news-section/news-section.styl"
@import "./components/tariffs-page/tariffs-page.styl"
@import "./components/tariffs-table/tariffs-table.styl"
@import "./components/tooltip/tooltip.styl"
@import "./components/banner/banner.styl"
