mixin face-canvas()
  -
    const props = initComponent('face-canvas', attributes, []);
  
  .face-canvas(id="canvas")&attributes(attributes)
  img(src="assets/img/face.png" alt="").face-canvas__img
  